cat_ammobullet RCDATA "cat_ammobullet.png"
cat_ammojacket RCDATA "cat_ammojacket.png"
cat_armorclip RCDATA "cat_armorclip.png"
cat_armorshell RCDATA "cat_armorshell.png"
cat_barrel RCDATA "cat_barrel.png"
cat_blade RCDATA "cat_blade.png"
cat_clothes RCDATA "cat_clothes.png"
cat_counterweight RCDATA "cat_counterweight.png"
cat_explosive RCDATA "cat_explosive.png"
cat_firingpin RCDATA "cat_firingpin.png"
cat_grip RCDATA "cat_grip.png"
cat_hammer RCDATA "cat_hammer.png"
cat_jewel RCDATA "cat_jewel.png"
cat_jewelsettings RCDATA "cat_jewelsettings.png"
cat_lining RCDATA "cat_lining.png"
cat_magicfocus RCDATA "cat_magicfocus.png"
cat_point RCDATA "cat_point.png"
cat_shaft RCDATA "cat_shaft.png"
cat_stuffing RCDATA "cat_stuffing.png"
cat_trigger RCDATA "cat_trigger.png"